email=vito.luong@envorso.com
always-auth=true
registry=https://envorso.jfrog.io/artifactory/api/npm/vito_test/
//envorso.jfrog.io/artifactory/api/npm/vito_test/:_auth="dml0by5sdW9uZ0BlbnZvcnNvLmNvbTpBUDVCUnJTZm1LYWozcTNTdEM1cWJuRmV1dQ=="
